@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto';
  background-color: #D4CDF4;
  color: #161925;
  text-align: center;
}

p {
font-size: 20px;
}

.card-profile > img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.media > ul > li {
  list-style: none;
  display: inline;
}

.media > ul > li > a {
  text-decoration: none;
  font-size: 20px;
}

.button > a {
  text-decoration: none;
  border: solid black 1px;
  padding: 13px;
  background-color: #52489C;
  color: #EBEBEB;
  border-radius: 8px;
  font-size: 18px;
}
